<!doctype html> 
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="format-detection" content="telephone=no"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
<title>确认兑换</title>
<link rel="stylesheet" type="text/css" href="../../css/base.css">
<link rel="stylesheet" type="text/css" href="../../css/nctouch_common.css">
<link rel="stylesheet" type="text/css" href="../../css/nctouch_cart.css">
</head>
<body>
<header id="header" class="fixed">
  <div class="header-wrap">
    <div class="header-l"> <a href="javascript:history.go(-1)"> <i class="back"></i> </a> </div>
    <div class="header-title">
      <h1>确认兑换</h1>
    </div>
    <div class="header-r"> <a id="header-nav" href="javascript:void(0);"><i class="more"></i><sup></sup></a> </div>
  </div>
  <div class="nctouch-nav-layout">
    <div class="nctouch-nav-menu"> <span class="arrow"></span>
      <ul>
        <li><a href="../../index.html"><i class="home"></i>首页</a></li>
        <li><a href="../search.html"><i class="search"></i>搜索</a></li>
        <li><a href="../product_first_categroy.html"><i class="categroy"></i>分类</a></li>
        <li><a href="javascript:void(0);"><i class="message"></i>消息</a></li>
        <li><a href="../cart_list.html"><i class="cart"></i>购物车<sup></sup></a></li>
        <li><a href="../member/member.html"><i class="member"></i>我的商城</a></li>
      </ul>
    </div>
  </div>
</header>

<div class="nctouch-main-layout mb20">
  <div class="nctouch-cart-block"> 
    <!--正在使用的默认地址Begin-->
    <div class="nctouch-cart-add-default"><a href="javascript:void(0);" id="list-address-valve"><i class="icon-add"></i>
      <dl>
        <dt>收货人：<span id="true_name"></span><span id="mob_phone"></span></dt>
        <dd><span id="address"></span></dd>
      </dl>
      <i class="icon-arrow"></i></a></div>
    <!--正在使用的默认地址End--> 
  </div>
  <!--选择收货地址Begin-->
  <div id="list-address-wrapper" class="nctouch-full-mask hide">
    <div class="nctouch-full-mask-bg"></div>
    <div class="nctouch-full-mask-block">
      <div class="header">
        <div class="header-wrap">
          <div class="header-l"> <a href="javascript:void(0);"> <i class="back"></i> </a> </div>
          <div class="header-title">
            <h1>收货地址管理</h1>
          </div>
        </div>
      </div>
      <div class="nctouch-main-layout" id="list-address-scroll">
        <ul class="nctouch-cart-add-list" id="list-address-add-list-ul">
        </ul>
        <div id="addresslist" class="mt10"> <a href="javascript:void(0);" class="btn-l" id="new-address-valve">新增收货地址</a> </div>
      </div>
    </div>
  </div>
  <!--选择收货地址End--> 
  <!--新增收货地址Begin-->
  <div id="new-address-wrapper" class="nctouch-full-mask hide">
    <div class="nctouch-full-mask-bg"></div>
    <div class="nctouch-full-mask-block">
      <div class="header">
        <div class="header-wrap">
          <div class="header-l"> <a href="javascript:void(0);"> <i class="back"></i> </a> </div>
          <div class="header-title">
            <h1>新增收货地址</h1>
          </div>
        </div>
      </div>
      <div class="nctouch-main-layout" id="new-address-scroll">
        <div class="nctouch-inp-con">
          <form id="add_address_form">
            <ul class="form-box">
              <li class="form-item">
                <h4>收货人姓名</h4>
                <div class="input-box">
                  <input type="text" class="inp" name="true_name" id="vtrue_name" autocomplete="off" oninput="writeClear($(this));"/>
                  <span class="input-del"></span> </div>
              </li>
              <li class="form-item">
                <h4>联系手机</h4>
                <div class="input-box">
                  <input type="tel" class="inp" name="mob_phone" id="vmob_phone" autocomplete="off" oninput="writeClear($(this));"/>
                  <span class="input-del"></span> </div>
              </li>
              <li class="form-item">
                <h4>地区选择</h4>
                <div class="input-box">
                  <input name="area_info" type="text" class="inp" id="varea_info" autocomplete="off" onChange="btn_check($('form'));" readonly/>
                </div>
              </li>
              <li class="form-item">
                <h4>详细地址</h4>
                <div class="input-box">
                  <input type="text" class="inp" name="vaddress" id="vaddress" autocomplete="off" oninput="writeClear($(this));"/>
                  <span class="input-del"></span> </div>
              </li>
            </ul>
            <div class="error-tips"></div>
            <div class="form-btn"><a href="javascript:void(0);" class="btn">保存地址</a></div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--新增收货地址End--> 
  

  
  <!--服务列表Begin-->
  <div id="goodslist_before" class="mt5">
    <div id="deposit"> </div>
  </div>
  <!--服务列表End--> 
  

  
  <!--底部总金额固定层Begin-->
  <div class="nctouch-cart-bottom">
    <div class="total"><span id="online-total-wrapper"></span>
      <dl class="total-money">
        <dt>合计总积分：</dt>
        <dd><em id="totalPrice"></em>积分</dd>
      </dl>
    </div>
    <div class="check-out"><a href="javascript:void(0);" id="ToBuyStep2">兑换</a></div>
  </div>

</div>
<script type="text/html" id="goods_list">
	
	<div class="nctouch-cart-container">
		<dl class="nctouch-cart-store">
			<dt><i class="icon-store"></i>平台兑换
			</dt>
			
		</dl>
		<ul class="nctouch-cart-item">
		<% for (var l in pointprod_list) { var v1 = pointprod_list[l]%>
			<li class="buy-item">
				<div class="goods-pic">
					<a href="<%=WapSiteUrl%>/tmpl/pointspro_detail.html?id=<%=v1.pgoods_id%>">
						<img src="<%=v1.pgoods_image%>"/>
					</a>
				</div>
				<dl class="goods-info">
					<dt class="goods-name"><a href="<%=WapSiteUrl%>/tmpl/pointspro_detail.html?id=<%=v1.goods_id%>"><%=v1.pgoods_name%></a></dt>
					<dd class="goods-type"></dd>
				</dl>
				<div class="goods-subtotal">
					<span class="goods-price">所需积分:<em><%=v1.pgoods_points%></em>积分</span>
				</div>
				<div class="goods-num">
					<em><%=v1.quantity%></em>件
				</div>
				
				
			</li>
		<% } %>
		</ul>
		
		<div class="nctouch-cart-subtotal">
		
		
		<div class="message">
			<input type="text" placeholder="留言：" id="storeMessage">
		</div>
		
	</div>
	
</script> 
<script type="text/html" id="list-address-add-list-script">
<% for (var i=0; i<address_list.length; i++) { %>
<li <% if (address_id == address_list[i].address_id) { %>class="selected"<% } %> data-param="{address_id:'<%=address_list[i].address_id%>',true_name:'<%=address_list[i].true_name%>',mob_phone:'<%=address_list[i].mob_phone%>',area_info:'<%=address_list[i].area_info%>',address:'<%=address_list[i].address%>',area_id:'<%=address_list[i].area_id%>',city_id:'<%=address_list[i].city_id%>'}"> <i></i>
  <dl>
    <dt>收货人：<span id=""><%=address_list[i].true_name%></span><span id=""><%=address_list[i].mob_phone%></span><% if (address_list[i].is_default == 1) { %><sub>默认</sub><% } %></dt>
    <dd><span id=""><%=address_list[i].area_info %>&nbsp;<%=address_list[i].address %></span></dd>
  </dl>
</li>
<% } %>
</script> 

<script type="text/javascript" src="../../js/config.js"></script> 
<script type="text/javascript" src="../../js/zepto.min.js"></script> 
<script type="text/javascript" src="../../js/template.js"></script> 
<script type="text/javascript" src="../../js/common.js"></script> 
<script type="text/javascript" src="../../js/simple-plugin.js"></script> 
<script type="text/javascript" src="../../js/tmpl/order_payment_common.js"></script>
<script type="text/javascript" src="../../js/tmpl/pointbuy_step1.js"></script>
</body>
</html>
