body {
    background: url("../images/seller-do-apply-bg.png") repeat;
    background: linear-gradient(rgba(196, 102, 0, 0.2), rgba(155, 89, 182, 0.2)), url('../images/seller-do-apply-bg.png');
    height: 100%;
}

.page-goods-add #header .header-l a i,
.page-goods-add #header .header-r a {
    color: #fff;
}

.page-goods-add .member-center dl {
    background-color: transparent;
    box-shadow: none;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
    background-color: transparent;
}

#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 0.45rem;
    width: 33.333%;
    float: left;
    position: relative;
    margin: 0;
    color: #fff;
    z-index: auto;
    background-color: transparent;
    border-bottom: none;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: #fff;
    border-radius: 10px;
    margin: 0 auto 5px auto;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1;
    /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
    background: #27AE60;
    color: white;
}

/*form styles*/
#msform {
    width: 100%;
    margin: 50px auto;
    text-align: center;
    position: relative;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    /*box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);*/
    padding: 20px 30px;
    box-sizing: border-box;
    width: 90%;
    margin: 0 5%;
    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/

#msform fieldset:not(:first-of-type) {
    display: none;
}

/*inputs*/
#msform input,
#msform .input,
#msform textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}

#msform .input {
    text-align: left;
}

#msform .input-select {
    height: 36px;
}

#msform .input-span {
    display: inline-block;
}

#msform .input-tips {
    font-size: 0.4rem;
    color: #999;
    margin-top: -6px;
    margin-bottom: 10px;
    text-align: left;
    font-weight: 600;
}

#msform .input-radio {
    width: 100%;
    font-size: 0.45rem;
}

#msform .input-radio dd {
    width: 50%;
    float: left;
    font-size: 13px;
}

#msform .input-radio dd input {
    width: auto;
    margin-right: 5px;
    margin-bottom: 0;
}

#msform .input-group {
    position: relative;
}

#msform .input-group span {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #ddd;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 13px;
    padding: 10px 13px;
    background-color: #f6f7fb;
    border: 1px solid #e6e9ee;
    color: #666;
    display: inline-block;
}

/*buttons*/
#msform .action-button {
    width: 40%;
    background: #27AE60;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform a.action-button {
    display: block;
    text-align: center;
    margin: 10px auto;
}

#msform .action-button.disabled {
    background-color: #ddd;
}

.page-seller-apply .document p {
    font-size: 0.45rem;
    line-height: 0.6rem;
    text-align: left;
    margin-bottom: 2rem;
}

#msform .gc-wrap {
    width: 100%;
    display: inline-flex;
    margin-bottom: 1rem;
}

#msform .gc-wrap .col-3 {
    width: 33.333%;
}

#msform .gc-result dl {
    width: 100%;
    font-size: 0.5rem;
    box-sizing: border-box;
    border: 1px solid #ddd;
}

#msform .gc-result dl dt {
    padding: 0;
    width: 100%;
    margin: 0;
    height: auto;
    line-height: 1.2rem;
    background-color: #eee;
}

#msform .gc-result dl dd {
    padding: 0;
    height: auto;
    line-height: 1.2rem;
    border-top: 1px solid #ddd;
}

#msform .gc-result dl dt span,
#msform .gc-result dl dd span {
    width: 25%;
    display: inline-block;
    box-sizing: border-box;
    border-right: 1px solid #ddd;
}
#msform .gc-result dl dt span:last-child,
#msform .gc-result dl dd span:last-child {
    border-right: none;
}

#msform .gc-result dl dd span.handle {
    color: #27AE60;
}

.alert-box {
    margin: 3rem 0;
}

/*headings*/
.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

.form-label {
    font-size: 0.5rem;
    color: #666;
    margin: 5px 0 10px;
    text-align: left;
    font-weight: 600;
}

.nctouch-order-search {
    padding: 0.5rem;
    height: auto;
}
.nctouch-order-search input[type="text"] {
    margin: auto;
    box-sizing: border-box;
    height: 1.5rem;
    width: 100%;
}
.nctouch-order-search input[type="button"] {
    position: absolute;
    right: 0.25rem;
    top: 0.25rem;
    cursor: pointer;
}
.nctouch-order-search .write .input-del {
    left: -0.5rem;
    top: -0.5rem;
    cursor: pointer;
}
.normal-text {
    font-size: 0.6rem;
}
.red-color {
    color: #ed5564;
}
.nctouch-order-item-footer {
    margin-top: 0;
}
.nctouch-single-nav ul.goods_offline_list li {
    width: 33.333%;
}
.nctouch-footer-wrap .copyright {
    text-shadow: inherit;
    color: #fff;
}
.scroller-body {
    bottom: 1.95rem;
}