body {
    background: url("../images/seller-do-apply-bg.png") repeat;
    background: linear-gradient(rgba(196, 102, 0, 0.2), rgba(155, 89, 182, 0.2)), url('../images/seller-do-apply-bg.png');
    height: 100%;
}
.nctouch-footer-wrap .copyright {
    color: #fff;
    text-shadow: inherit;
}
.nctouch-footer-wrap .copyright a{
    color: #fff;
}
/*form styles*/
#msform {
    width: 100%;
    margin: 50px auto;
    text-align: center;
    position: relative;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    /*box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);*/
    padding: 20px 30px;
    box-sizing: border-box;
    width: 90%;
    margin: 0 5%;
    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/

#msform fieldset:not(:first-of-type) {
    display: none;
}

/*inputs*/
#msform input,
#msform .input,
#msform textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}

#msform .input {
    text-align: left;
}

#msform .input-select {
    height: 36px;
}

#msform .input-span {
    display: inline-block;
}

#msform .input-tips {
    font-size: 0.4rem;
    color: #27AE60;
    margin-top: -6px;
    margin-bottom: 10px;
    text-align: left;
    font-weight: 600;
}

/*buttons*/
#msform .action-button {
    width: 40%;
    background: #27AE60;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button.disabled {
    background-color: #ddd;
}

/*
#msform .action-button:hover,
#msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
*/

/*headings*/
.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

.form-label {
    font-size: 0.5rem;
    color: #666;
    margin: 5px 0 10px;
    text-align: left;
    font-weight: 600;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
    background-color: transparent;
}

#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 0.45rem;
    width: 16.666%;
    float: left;
    position: relative;
    margin: 0;
    color: #fff;
    z-index: auto;
    background-color: transparent;
    border-bottom: none;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: #fff;
    border-radius: 10px;
    margin: 0 auto 5px auto;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1;
    /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
    background: #27AE60;
    color: white;
}

.page-seller-apply .document p {
    font-size: 0.45rem;
    line-height: 0.6rem;
    text-align: left;
    margin-bottom: 2rem;
}

#msform .gc-wrap {
    width: 100%;
    display: inline-flex;
    margin-bottom: 1rem;
}

#msform .gc-wrap .col-3 {
    width: 33.333%;
}

#msform .gc-result dl {
    width: 100%;
    font-size: 0.5rem;
    box-sizing: border-box;
    border: 1px solid #ddd;
}

#msform .gc-result dl dt {
    padding: 0;
    width: 100%;
    margin: 0;
    height: auto;
    line-height: 1.2rem;
    background-color: #eee;
}

#msform .gc-result dl dd {
    padding: 0;
    height: auto;
    line-height: 1.2rem;
    border-top: 1px solid #ddd;
}

#msform .gc-result dl dt span,
#msform .gc-result dl dd span {
    width: 25%;
    display: inline-block;
    box-sizing: border-box;
    border-right: 1px solid #ddd;
}
#msform .gc-result dl dt span:last-child,
#msform .gc-result dl dd span:last-child {
    border-right: none;
}

#msform .gc-result dl dd span.handle {
    color: #27AE60;
}

.alert-box {
    margin: 3rem 0;
}